
@{
    ViewBag.Title = "About";
}


<h2>Life below water</h2>
<div class="container">
    <div class="row" id="loader">
    <div class="col-lg-6">
        <img src="~/Media/LBW.jpeg" id="img" />
    </div>

    <div class="col-lg-6">
        <p>
            Life below water is goal number 14 of the sustainable development goals.
            Their goal is conserve the ocean and use the sea and marine resources sustainably. There is a lot of
            methods that can be used to achieve this. I will be focussing on using more eco-friendly choices when using and buying prducts, for example,
            using a reusable bag.
            I chose the goal because the ocean plays a very important role in our lives. The ocean is our largest eco system and it is also the
            largest source that abosorbs CO2. It also absorbs more than 90% of the heat on our planet.

        </p>
        <br />
        <p>
            Unfortuanally because of climate change the ocean's heat is at its highest. This is causing underwater heatwaves that are killing
            the eco-system. It is also causing the coral reef to die. Coral reef is the most important factor in the eco system of the ocean because
            that is where the CO2 and heat are absorbed.
        </p>
        <br />
        <p>
            Climate change is not the only factor that impacts our ocean. Plastic is another big factor in this problem.
            Every year 5 to 12 metric tonnes of plastic enters the ocean. This has big finacial implications. $13 billion is lost evry year
            because of clean-up costs and losses in the fishery industry.
        </p>
        <br />
        <p>
            We can see that it takes a lot of money to help recover the ocean. That is why we need to support NPO's that are helping with
            this cause. The NPO I chose to help is called Plastic Tides. More information about them are on the NPO page.
        </p>
    </div>

    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/Scripts/JQ/code.js">
  
    </script>
}

<style>
    #img{
        position:relative;
        top: 10px;
        width: 500px;
        height: 500px;
        left: -100px;
    }

    h2,p{
        color:white;

    }
</style>

