
@{
    ViewBag.Title = "NPO";
}

<h2 id="h2">NPO</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Media/PT.jpg" id="img" style="height: 500px; width: 500px;" />
        </div>
        <div class="col-lg-6">
            <p>
                Plastic tides is a non-profit organisation. Their goal is to have a plastic-free future. They have different programs that you can get involved in.
                You can become a youth leader or a mentor. They make their money through donations from the community. They use this money towards making a plastic-free future.
                The programs you can get involved in is to show communities the effect of plastic have on the ocean.
            </p>
            <br />
            <p>
                I chose this NPO because their goals allign with what my chosen SDG goal is. I will help the NPO by designing a "shop"
                where people can buy products that will help reach a plastic-free future. The money will also go towards their campaign.
                My application will not just help them going plastic-free but also helping them finacially. With more finaces they can
                do more.
            </p>
            <br />
            <p>Navigate to the shop screen to view the available products. Together we can make a change.</p>
        </div>
    </div>
</div>
<br />
<br />

@section Scripts{
    <script type="text/javascript" src="~/Scripts/JQ/code.js">

    </script>
}


<style>
    #img {
        position: relative;
        /*top: 10px;*/
        width: 500px;
        height: 500px;
        left: -100px;
    }
    h2, p {
        color: white;
    }
</style>



